/ Styles

= render :stylesheet => 'application'
= render :stylesheet => 'lightbox'
= render :stylesheet => @view


<!--[if IE]>
= render :stylesheet => 'ie'
<![endif]-->

<!--[if IE 6]>
= render :stylesheet => 'ie6'
<![endif]-->

<!--[if IE 7]>
= render :stylesheet => 'ie7'
<![endif]-->

<!--[if IE 8]>
= render :stylesheet => 'ie8'
<![endif]-->

