
/ Required scripts for using the Yahoo! Mail Developer Platform API
= javascript_include "http://yui.yahooapis.com/2.7.0/build/yahoo-dom-event/yahoo-dom-event.js"
= javascript_include "http://yui.yahooapis.com/2.7.0/build/json/json-min.js"
= javascript_include "http://mail.yimg.com/a/lib/om/crossframe/1.0.19/crossframe-min.js"
= javascript_include "http://mail.yimg.com/a/lib/om/om_api_public/1.0.4/om_api_public.js"


/ OIB JavaScript libraries

= javascript_include "OpenMailIntl.js"
= render :javascript => ['application', 'debug', 'tag_helper', 'launcher', 'logger', 'i18n', 'flash'], :filename => 'javascripts'

/ Date

= javascript_include "date.js"

/ Header
= render :javascript => 'header'
= render :javascript => @view

/ = include_firebug_lite
